<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>{{ pageTitle }}</h2>
    </div>

    <!-- Filter the Products   -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row" *ngIf="listFilter">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show"}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productFilter:listFilter">
                        <td>
                            <img *ngIf="showImage && product.imageUrl" [src]="product.imageUrl" [title]="product.productName | uppercase" [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin">
                        </td>
                        <td>
                            <!-- 
                                Query parameters CAN be retained across routing paths. We do NOT configure anything in route config.
                                Allthough preserve might be a router configure option in the future: https://stackoverflow.com/questions/41726938/in-angular-2-how-to-preserve-query-params-and-add-additional-query-params-to-rou
                                But right now it is a per link/navigation configuration
                            
                                navigate from code 

                                this.router.navigate(['/products', product.id], {
                                    queryParams: {
                                        filterBy: listFilter, 
                                        showImage: showImage
                                    },
                                    queryParamsHandling: 'preserve' // other option is merge
                                });

                                https://angular.io/api/router/NavigationExtras

                                // getting queryParam from code, can also subscribe (look it up a bit before using)
                                console.log(this.activatedRoute.snapshot.queryParamMap.get('showImage'));
                                this.activatedRoute.queryParamMap.subscribe
                            -->
                            <a [routerLink]="['/products', product.id]" 
                                [queryParams]="{ filterBy: listFilter, showImage: showImage }"> <!-- We define query parameters here in link to product-detail. In product-detail.component:s back link we preserve them -->
                                {{product.productName}} id: {{ product.id }}
                            </a>
                        </td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td>
                        <td>
                            <app-star [rating]="product.starRating">
                            </app-star>
                        </td>
                        <td>
                            <a class="btn btn-primary" [routerLink]="['/products', product.id, 'edit']"> <!-- No slash before edit -->
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
