<div class="row">
    <div class="col">
        <h2>{{ pageTitle }}</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <div>
            <app-tips [position]="'left'"></app-tips>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <div class="text-right">
            <app-tips [position]="'right'"></app-tips>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <div class="text-center">
            <app-tips [position]="'left'"></app-tips>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis temporibus esse, atque eum ullam rerum pariatur
            sit labore dolor sed similique? Explicabo deleniti aperiam molestiae voluptates facilis, totam minus.
        </p>
    </div>
</div>
