<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>{{pageTitle}}</h2>
    </div>

    <div class="panel-body" *ngIf="product">
        <div class="wizard">
            <a [routerLink]="['info']" routerLinkActive="active">Basic Information</a>
            <a [routerLink]="['tags']" routerLinkActive="active">Search Tags</a>
        </div>

        <!-- Child routes will appear here -->
        <router-outlet></router-outlet>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <span>
                    <!-- With saveProduct() user can not submit on ENTER. Better to use ngSubmit on respective child component and either handle it there or communicate up to this component  -->
                    <button class="btn btn-primary" type="button" style="width:80px;margin-right:10px" [disabled]="!isValid()" (click)="saveProduct()">
                        Save
                    </button>
                </span>
                <span>
                    <a class="btn btn-default" [routerLink]="['/products']">
                        Cancel
                    </a>
                </span>
                <span>
                    <button class="btn btn-link" (click)="deleteProduct()" *ngIf="product?.id !== 0">
                        Delete
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>