<app-loading></app-loading>

<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li>
          <!-- A link parameters array, here we could have used the shorthand syntax <a routerLink="/welcome" -->
          <!-- routerLinkActive also works on ancestor elements -->
          <a [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Product List</a>
        </li>
        <li>
          <a [routerLink]="['/products', 0, 'edit']" routerLinkActive="active">Add Product</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>Welcome
            <ng-container *ngIf="user">{{ user.userName }}</ng-container>
          </a>
        </li>
        <li>
          <a>Show Messages</a>
        </li>
        <li *ngIf="!user">
          <a [routerLink]="['/login']">Log In</a>
        </li>
        <li *ngIf="user">
          <button class="btn btn-link app-btn-vanilla-link" (click)="logOut()">Log out</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <!-- Can only display one route component at a time. But we can have multiple outlets -->
    <router-outlet></router-outlet>
  </div>
</div>
