<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li>
          <!-- A link parameters array, here we could have used the shortcut syntax <a routerLink="/welcome" -->
          <a [routerLink]="['/welcome']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/products']">Product List</a>
        </li>
        <li>
          <a>Add Product</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>Welcome user</a>
        </li>
        <li>
          <a>Show Messages</a>
        </li>
        <li>
          <a>Log In</a>
        </li>
        <li>
          <a>Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <!-- Can only display one route component at a time. But we can have multiple outlets -->
    <router-outlet></router-outlet>
  </div>
</div>
