@import 'app-component-dependencies';

.app-tooltip-container { 
    display: inline;
    position: relative;
}

.fa-lightbulb {
    margin-right: app-remy($gutter-xs);
}

.app-btn-vanilla-link {
    text-decoration: none !important;
}

.app-alert-caret {
    position: absolute;
    left: app-remy($gutter-sm);
    bottom: -(app-remy(20));
    pointer-events: none; // ?
    color: #d1ecf1;
}

.alert {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: app-remy(8);
    width: app-remy(275);
    background-image: none; // ?
    padding: app-remy($gutter-md);
}

@include app-mq-breakpoint-up(md) { 
    .alert {
        width: app-remy(350);
    }
}
