@import 'app-component-dependencies';

.app-tooltip-container { 
    display: inline;
    position: relative;
    text-align: left;
}

.fa-lightbulb {
    margin-right: app-remy($app-gutter-xs);
}

.app-btn-vanilla-link {
    text-decoration: none !important;
}

.app-alert-caret {
    position: absolute;
    bottom: -(app-remy(20));
    pointer-events: none; // ?
    color: #d1ecf1;

    &.left {
        left: app-remy($app-gutter-sm);
    }

    &.right {
        right: app-remy($app-gutter-sm);
    }
}

.alert {
    position: absolute;
    z-index: 1;
    bottom: app-remy(8);
    width: app-remy(275);
    background-image: none; // ?
    padding: app-remy($app-gutter-md);

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

@include app-mq-breakpoint-up(md) { 
    .alert {
        width: app-remy(350);
    }
}
