<div class="app-tooltip-container">
    <div class="alert alert-info" role="alert" *ngIf="isVisible">
        <div class="app-alert-caret visible-lg">
            <span class="fa fa-2x fa-caret-down"></span>
        </div>
        <div>
            possimus praesentium culpa at exercitationem veniam dolores ullam error tenetur provident? Quis, ex! Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Saepe optio doloribus nihil repudiandae sapiente dolorum odio tempore,
        </div>
    </div>
    
    <button role="button" class="btn btn-link app-btn-vanilla-link" (click)="toggleVisible()">
        <span class="fas fa-lightbulb"></span>
        <span>Tips</span>
    </button>
</div>

