// Can override bootstrap variables here
// Can define our own variables here

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// Gutter
$app-gutter-xs: 5;
$app-gutter-sm: 10;
$app-gutter-md: 15;

// Breakpoints
$app-breakpoints:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

