// Can override bootstrap variables here
// Can define our own variables here

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// Gutter
$gutter-xs:(5/16) * 1rem;
$gutter-sm:(10/16) * 1rem;
$gutter-md:(15/16) * 1rem;
